html {
    font-family: sans-serif;
}
body {
    background-color: rgb(230, 230, 230);
    margin: 0;
}
header {
    background-color: rgb(45, 55, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo {
    color: white;
    display: flex;
    align-items: center;
}

.logo #zoo {
    color: greenyellow;
}
.logo #world {
    color: rgb(217, 255, 47);
}
.logo img {
    width: 150px;
    border-radius: 1rem;
    margin-right: 1rem;
}
header ul {
    list-style: none;
    display: flex;
}
header a {
    text-decoration: none;
    color: rgb(150, 154, 157);
    margin-inline: 0.5rem;
}
header a:hover {
    color: white;
}
#principal-container {
    background-color: rgb(150, 230, 240);
    max-width: 50%;
    margin-top: 1.5rem;
    margin-inline: auto;
    border-radius: 1.5rem;
    padding: 1rem;
}
#intro {
    max-width: 74%;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    padding: 1rem;
    color: rgb(100, 111, 255);
    background-color: rgb(80, 185, 255);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro h2 {
    margin-top: 0;
}
#intro p {
    margin: 0;
}
h2 {
    text-align: center;
}
.secondary-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}
.secondary-container section {
    color: rgb(100, 111, 255);
    background-color: rgb(80, 185, 255);
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    margin-inline: 1rem;
}
.secondary-container section p a {
    color: rgb(100, 111, 255);
    text-decoration: none;
}
.secondary-container section p a:hover {
    color: rgb(6, 14, 255);
}
#news p {
    text-align: center;
}
#resenias p {
    text-align: center;
}
#morevisited p {
    text-align: center;
}
#trabaj {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#trabajadora {
    width: 275px;
    border-radius: 0.5rem;
}
