html {
    font-family: sans-serif;
}
body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
}
/*Estilos del header*/
header {
    background-color: rgb(45, 55, 60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
/*Logo*/
.logo {
    display: flex;
    align-items: center;
}
.logo #zoo {
    color: greenyellow;
}
.logo #world {
    color: rgb(255, 241, 47);
}
.logo img {
    width: 150px;
    border-radius: 1rem;
    margin-right: 1rem;
}
/**/
header ul {
    list-style: none;
    display: flex;
}
header a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    margin-inline: 0.5rem;
}
header a:hover {
    color: white;
}
/*Estilos del main*/
#principal-container {
    background-color: rgb(199, 206, 211);
    max-width: 50%;
    margin-top: 1.5rem;
    margin-inline: auto;
    border-radius: 1.5rem;
    padding: 1rem;
}
#intro, .secondary-container section {
    background-color: rgb(80, 185, 255);
    color: rgb(100, 111, 255);
}
#intro {
    width: 700px;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    padding: 1rem;
    border-radius: 1.5rem;
}
#intro h2 {
    margin-top: 0;
}
#intro p {
    margin: 0;
}
h2 {
    text-align: center;
}
.secondary-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.secondary-container section {
    height: 300px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    margin-inline: 0.5rem;
}
.secondary-container section p a {
    color: rgb(100, 111, 255);
    text-decoration: none;
}
.secondary-container section p a:hover {
    color: rgb(6, 14, 255);
}
#news p, #resenias p, #morevisited p, #trabaj p {
    text-align: center;
}
#trabaj {
    align-items: center;
}
#trabajadora {
    width: 275px;
    border-radius: 1.5rem;
}
