:root {
    --color-fondo: rgb(247, 255, 133);
    --color-header: rgb(0, 205, 128);
    --color-container: rgb(16, 197, 142);
}

html {
    font-family: sans-serif;
}

body {
    background-color: var(--color-fondo);
    margin: 0;
    padding: 0;
}

/*Estilos del header*/
header {
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2.5px solid rgb(0, 0, 0);
}
/*Logo*/
.logo {
    display: flex;
    align-items: center;
}
.logo #zoo {
    color: greenyellow;
}
.logo #world {
    color: rgb(255, 241, 47);
}
.logo img {
    width: 150px;
    border-radius: 1rem;
    margin-right: 1rem;
}
/**/
header ul {
    list-style: none;
    display: flex;
}
header a {
    transition: all 0.2s;
    text-decoration: none;
    background-color: rgb(83, 218, 167);
    padding: 8px;
    border-radius: 0.5rem;
    color: rgb(0, 129, 80);
    margin-inline: 0.2rem;
}
header a:hover {
    background-color: var(--color-header);
    color: rgb(0, 0, 0);
}
/**/
/*Estilos del main*/
#principal-container {
    background-color: var(--color-container);
    width: 62%;
    margin-top: 1.5rem;
    margin-inline: auto;
    border-radius: 1.5rem;
    padding: 1rem;
}
#intro, .secondary-container section {
    background-color: rgb(83, 218, 167);
    color: rgb(53, 18, 0);
}
#intro {
    max-width: 1000px;
    margin-bottom: 1.5rem;
    margin-inline: auto;
    padding: 1rem 10px;
    border-radius: 1.5rem;
}
#intro h2 {
    margin-top: 0;
}
#intro p {
    margin: 0;
}
h2 {
    text-align: center;
}
.secondary-container {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}
.secondary-container section {
    height: 450px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    margin-inline: 0.5rem;
}
.secondary-container section p a, .secondary-container section a {
    color: rgb(53, 18, 0);
    text-decoration: none;
}
.secondary-container section p a:hover, .secondary-container section a:hover {
    color: rgb(0, 255, 191);
}
#news ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#news li {
    margin-bottom: 1rem;
}
#news p, #resenias p, #morevisited p, #trabaj p {
    text-align: center;
    padding-inline: 10px;
}
#trabaj {
    align-items: center;
}
#trabaj p, #trabajadora {
    margin: auto 0;
}
#trabajadora {
    max-width: 375px;
    border-radius: 1.5rem;
}
